extends _layout.pug

block content
  h1= exercise.name
  form(action="/exercises/"+exercise.id, method="POST")
    div.field
      label.label Name
      div.control
        input#name(type="text", name="name", value=exercise.name)
    div.field
      div.control
        label.checkbox(name="reps")
          input#weighted(type="checkbox", name="reps", checked=exercise.parameters.find(p => p.id === 'reps'))
          | Reps
    div.field
      div.control
        label.checkbox(name="duration")
          input#weighted(type="checkbox", name="duration", checked=exercise.parameters.find(p => p.id === 'duration'))
          | Duration
    div.field
      div.control
        label.checkbox(name="weight")
          input#weighted(type="checkbox", name="weight", checked=exercise.parameters.find(p => p.id === 'weight'))
          | Weight
    div.field
      div.control
        label.checkbox(name="assisted")
          input#assisted(type="checkbox", name="assisted", checked=exercise.parameters.find(p => p.id === 'assisted'))
          | Assisted weight
    div.field
      div.control
        label.checkbox(name="distance")
          input#distance(type="checkbox", name="distance", checked=exercise.parameters.find(p => p.id === 'distance'))
          | Distance 
    div.field
      div.control
        label.checkbox(name="intensity")
          input#intensity(type="checkbox", name="intensity", checked=exercise.parameters.find(p => p.id === 'intensity'))
          | Intensity
    div.field
      div.control
        input.button(type="submit", value="Update")
  form(action="/exercises/"+exercise.id+"/delete", method="POST")
    input(type="submit", value="Delete")
  each param of exercise.parameters
    canvas(id="chart-"+param.id)
  script!= "window.exerciseTracker.buildChart("+JSON.stringify(exercise)+","+JSON.stringify(historicalSets)+");"
  table.table
    thead
      tr
        td Date
        each param of exercise.parameters
            td= param.name
    tbody
      each set of historicalSets
        tr
          td= set.date
          each param of exercise.parameters
            td= set.parameters[param.id]