extends _layout.pug

block content
  .dropdown(data-class-is-active="$lookbackpicker", data-signals-lookbackpicker="false", style="float: right")
    .dropdown-trigger
      button.button(aria-haspopup="true", aria-controls="lookback-picker", data-on-click="$lookbackpicker = !$lookbackpicker")
        span Lookback
        +icon("chevron-down")
    .dropdown-menu#lookback-picker(role="menu")
      .dropdown-content
        button.dropdown-item(data-on-click="window.location.search = 'lookback=7'") 7d
        button.dropdown-item(data-on-click="window.location.search = 'lookback=30'") 30d
        button.dropdown-item(data-on-click="window.location.search = 'lookback=365'") 1y
        button.dropdown-item(data-on-click="window.location.search = 'lookback=all'") All time
        +control("clock", "days")(class="dropdown-item")
          input.input(type="number", min="0", data-on-change="window.location.search = 'lookback='+ evt.target.value")
  h1.title= "History of " + exercise.name

  .fixed-grid.has-1-cols-mobile.has-2-cols-desktop.has-3-cols-widescreen
    .grid
      each param of exercise.parameters
        .cell
          .box
            h1.title(style="text-align: center;")= param.name
            canvas(id="chart-"+param.id)
  script!= "window.exerciseTracker.buildChart("+JSON.stringify(exercise)+","+JSON.stringify(historicalSets)+");"
  table.table
    thead
      tr
        td Date
        each param of exercise.parameters
            td= param.name
    tbody
      each set of historicalSets
        tr
          td= set.date
          each param of exercise.parameters
            - var display = displayString(param, set.parameters[param.id], user)
            td= display.value && display.unit ? display.value + ' ' + display.unit : display.value ? display.value : ""