extends _layout.pug

block content
  div.back-button-row
    +control()
      a.button(href=back, x-bind:class="theme === 'dark' ? 'is-dark' : 'is-light'") Back
    +lookbackPicker()
  h1.title= "History of " + exercise.name
  .fixed-grid.has-1-cols-mobile.has-2-cols-desktop.has-3-cols-widescreen.mb-6
    .grid
      each param of exercise.parameters
        .cell.box
          h1.title(style="text-align: center;")
            +icon(param.id)
            |  
            = param.name
          canvas(id="chart-"+param.id)
        script!= "window._set.buildChart("+JSON.stringify(param)+","+JSON.stringify(historicalSets.map(s => ({date: s.date, value: getRawValue(s.parameters[param.id], param, user)})))+");"
  div.mb-6(style="overflow-x: auto")
    table.table
      thead
        tr
          td Parameter
          td Average
          td Min
          td Max
          td Total change
      tbody
        each param of exercise.parameters
          - var v = analysis[param.id]
          tr
            td
              +icon(param.id)
              |  
              = param.name
            td= displayStringForTable({ value: v.average }, param, user)
            td= displayStringForTable({ value: v.min }, param, user)
            td= displayStringForTable({ value: v.max }, param, user)
            td= displayStringForTable({ value: v.totalChange }, param, user)
  div(style="overflow-x: auto")
    table.table
      thead
        tr
          td Date
          each param of exercise.parameters
              td
                +icon(param.id)
                |  
                = param.name
      tbody
        each set of historicalSets
          tr
            td= set.date
            each param of exercise.parameters
              td= displayStringForTable(set.parameters[param.id], param, user)