extends _layout.pug

block content
  h1.title= today

  each set in sets
    .card
      header.card-header
        p.card-header-title= set.exercise.name
      .card-content
        .content
          p= set.reps + " reps"
          p= JSON.stringify(set.parameters, null, 2)
      footer.card-footer
        a.card-footer-item(href="/sets/"+set.id+"/edit") Edit
        a.card-footer-item(href="/sets/"+set.id+"/delete") Delete


  div.box
    h1.title Log an exercise
    form(action="/sets", method="POST")
      div.field
        label.label Exercise
        div.control
          select(name="exercise")
            each exercise in exercises
              option(value=exercise.id)= exercise.name
      div.field
        label.label Reps
        div.control
          input#reps(type="number", name="reps")
      input(type="hidden", name="date", value=today)
      input(type="hidden", name="order", value=nextSetOrder)
      div.field
        div.control
          input.button(type="submit", value="Add")