extends _layout.pug

block content
  h1.title(data-signals-exercises=JSON.stringify(exercises))= today

  each set in sets
    .card
      header.card-header
        p.card-header-title= set.exercise.name + " (" + set.id + ")"
      .card-content
        .content
          if editingSet === set.id
            form(action="/sets/" + set.id, method="POST", id="edit-"+set.id,
              data-signals-editingexerciseid="'"+set.exercise.id+"'",
              data-computed-editingexercise="$exercises.find(v => v.id == $editingexerciseid)"
            )
              div.field
                label.label Exercise
                div.control
                  select(name="exercise", data-bind="editingexerciseid")
                    each exercise in exercises
                      option(value=exercise.id, selected=(set.exercise.id === exercise.id))= exercise.name
              div.field
                label.label Reps
                div.control
                  input#reps(type="number", name="reps", value=set.reps)
              div.field(data-show="!!$editingexercise?.parameters?.find(p => p.id === 'weight')")
                label.label Weight
                div.control
                  input#weight(type="number", name="weight", value=set.parameters.weight)
              div.field(data-show="!!$editingexercise?.parameters?.find(p => p.id === 'assisted')")
                label.label Assistance
                div.control
                  input#assisted(type="number", name="assisted", value=set.parameters.assisted)
              div.field(data-show="!!$editingexercise?.parameters?.find(p => p.id === 'distance')")
                label.label Distance
                div.control
                  input#reps(type="number", name="distance", value=set.parameters.distance)
              div.field(data-show="!!$editingexercise?.parameters?.find(p => p.id === 'intensity')")
                label.label Intensity
                div.control
                  select(name="intensity")
                    option(value="low", selected=(set.parameters.intensity === "low")) Low
                    option(value="medium", selected=(set.parameters.intensity === "medium")) Medium
                    option(value="high", selected=(set.parameters.intensity === "high")) High
          else
            p= set.reps + " reps"
            p= JSON.stringify(set.parameters, null, 2)
            form(id="delete-"+set.id, action="/sets/"+set.id+"/delete", method="POST")
      footer.card-footer
        if editingSet === set.id
          button.card-footer-item(form="edit-"+set.id) Submit
        else
          a.card-footer-item(href="?editingSet="+set.id) Edit
        button.card-footer-item(form="delete-"+set.id) Delete


  div.box
    h1.title Log an exercise
    form(action="/sets", method="POST",
      data-signals-newexerciseid="''",
      data-computed-newexercise="$exercises.find(v => v.id == $newexerciseid)"
    )
      div.field
        label.label Exercise
        div.control
          select(name="exercise", data-bind="newexerciseid")
            each exercise in exercises
              option(value=exercise.id)= exercise.name
      div.field(data-show="!!$newexerciseid")
        label.label Reps
        div.control
          input#reps(type="number", name="reps")
      div.field(data-show="!!$newexercise?.parameters?.find(p => p.id === 'weight')")
        label.label Weight
        div.control
          input#weight(type="number", name="weight")
      div.field(data-show="!!$newexercise?.parameters?.find(p => p.id === 'assisted')")
        label.label Assistance
        div.control
          input#assisted(type="number", name="assisted")
      div.field(data-show="!!$newexercise?.parameters?.find(p => p.id === 'distance')")
        label.label Distance
        div.control
          input#reps(type="number", name="distance")
      div.field(data-show="!!$newexercise?.parameters?.find(p => p.id === 'intensity')")
        label.label Intensity
        div.control
          select(name="intensity")
            option(value="low") Low
            option(value="medium") Medium
            option(value="high") High
      input(type="hidden", name="date", value=today)
      input(type="hidden", name="order", value=nextSetOrder)
      div.field
        div.control
          input.button(type="submit", value="Add")