extends _layout.pug

block content
  h1.title(data-signals-exercises=JSON.stringify(exercises))
    a(href="/"+yesterday)= "<<"
    = date
    if !isToday
      a(href="/"+tomorrow)= ">>"
    input#date(type="date", name="date", value=date, max=today, data-on-change="window.location.pathname = `/${evt.target.value}`")

  each set in sets
    .card
      header.card-header
        p.card-header-title= set.exercise.name + " (" + set.id + ")"
      .card-content
        .content
          if editingSet === set.id
            form(action="/sets/" + set.id, method="POST", id="edit-"+set.id,
              data-signals-editingexerciseid="'"+set.exercise.id+"'",
              data-computed-editingexercise="$exercises.find(v => v.id == $editingexerciseid)"
            )
              div.field
                label.label Exercise
                div.control
                  select(name="exercise", data-bind="editingexerciseid")
                    each exercise in exercises
                      option(value=exercise.id, selected=(set.exercise.id === exercise.id))= exercise.name
              each parameter in allParameters
                div.field(data-show="!!$editingexercise?.parameters?.find(p => p.id === '"+parameter.id+"')")
                  label.label= parameter.name
                  div.control
                    if parameter.dataType === 'intensity'
                      select(name="intensity")
                        option(value="low", selected=(set.parameters.intensity === "low")) Low
                        option(value="medium", selected=(set.parameters.intensity === "medium")) Medium
                        option(value="high", selected=(set.parameters.intensity === "high")) High
                    else if parameter.dataType === 'duration'
                      input(id=parameter.id, type="number", name=parameter.id, value=set.parameters[parameter.id].minutes)
                      span minutes
                    else if parameter.dataType === 'weight' || parameter.dataType === 'assisted' || parameter.dataType === 'distance'
                      input(id=parameter.id, type="number", name=parameter.id, value=set.parameters[parameter.id].value)
                      span= set.parameters[parameter.id].unit
                    else
                      input(id=parameter.id, type="number", name=parameter.id, value=set.parameters[parameter.id])
          else
            each parameter in allParameters
              if set.parameters[parameter.id]
                p= parameter.name + ": " + JSON.stringify(set.parameters[parameter.id])
            form(id="delete-"+set.id, action="/sets/"+set.id+"/delete", method="POST")
      footer.card-footer
        if editingSet === set.id
          button.card-footer-item(form="edit-"+set.id) Submit
        else
          a.card-footer-item(href="?editingSet="+set.id) Edit
        button.card-footer-item(form="delete-"+set.id) Delete


  div.box
    h1.title Log an exercise
    form(action="/sets", method="POST",
      data-signals-newexerciseid="''",
      data-computed-newexercise="$exercises.find(v => v.id == $newexerciseid)"
    )
      div.field
        label.label Exercise
        div.control
          select(name="exercise", data-bind="newexerciseid")
            each exercise in exercises
              option(value=exercise.id)= exercise.name
      each parameter in allParameters
        div.field(data-show="!!$newexercise?.parameters?.find(p => p.id === '"+parameter.id+"')")
          label.label= parameter.name
          div.control
            if parameter.dataType === 'intensity'
              select(name="intensity")
                option(value="low") Low
                option(value="medium") Medium
                option(value="high") High
            else if parameter.dataType === 'duration'
              input(id=parameter.id, type="number", name=parameter.id)
              span minutes
            else if parameter.dataType === 'weight' || parameter.dataType === 'assisted' || parameter.dataType === 'distance'
              input(id=parameter.id, type="number", name=parameter.id)
              span= defaultUnit(parameter.dataType, user)
            else
              input(id=parameter.id, type="number", name=parameter.id)
      input(type="hidden", name="date", value=date)
      input(type="hidden", name="order", value=nextSetOrder)
      div.field
        div.control
          input.button(type="submit", value="Add")